<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {%if not books%}
    <P>LIBRARY IS EMPTY</P>
    {%endif%}
    <ul>
      {%for bookme in books %}
      <li><a href="{{url_for('delete',id=bookme.id)}}">delete</a>
        {{bookme.title}} || {{bookme.author}}  || {{bookme.rating}}
      <a href="{{url_for('edit',id=bookme.id)}}">Edit Rating</a>
      </li>
      {%endfor%}
    </ul>

    <a href="{{url_for('addme')}}">Add New Book</a>
  </body>  
</html>
