<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
		<style>
			body{
			background-image:url("https://images.unsplash.com/photo-1503264116251-35a269479413");
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			}
  		</style>
    {% from 'bootstrap5/form.html' import render_form %}

	</head>
	<body>
        <div class="container">
		<h1>Login</h1>
		<!-- <form method="POST" action="{{url_for('login')}}" novalidate>
			{{form.csrf_token}}
			<P>{{form.email.label}}<br>{{form.email(size=30)}}
			{% for err in form.email.errors %}
			<span style="color:red">{{err}}</span>
			{% endfor %}</P>
			<P>{{form.password.label}}<br>{{form.password(size=30)}}
			{% for err in form.password.errors %}
			<span style="color:red">{{err}}</span>
			{% endfor %}</P>
			{{form.submit}}
		</form> -->
		{{render_form(form)}}
        <!-- This is where our form will go. -->
        </div>
	</body>
</html>